<style>
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

</style>
<div style="padding-left: 10px; padding-right: 100px;">
  <h1>Ride time stat page.</h1>
  <p>Ride time stat page.</p>
  <p>
    get user info and add graph here
  </p>  
  <div class="chart">
    <div> </div>
    <div> </div>
    <p>Something here</p>

  </div>    
  <!-- Lingyu WIP-->
  <!--script src="js/D3BarChart.js"></script-->

</div>
